Repository bsonntag/react-use-user-media: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write ., sort-package-json, jest --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write .", "git add"],
  "package.json": ["sort-package-json", "git add"],
  "src/*.js": "jest --findRelatedTests"
}

1.0.0
  dist/index.8911f342.css
  dist/index.8911f342.css.map
  dist/index.b1fdf372.js
  dist/index.b1fdf372.js.map
  dist/index.html
  package-lock.json
  package.json
Due: eslint --fix, prettier --write ., sort-package-json

Fixes types export problem
  dist/index.d.ts
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write ., sort-package-json

1.1.0
  package-lock.json
  package.json
Due: sort-package-json

Adds 'starting' state to useUserMedia hook
  dist/index.js
  package-lock.json
  src/index.ts
Due: eslint --fix, prettier --write .

1.1.1
  package.json
Due: sort-package-json

Adds 'starting' state to useUserMedia hook
  dist/index.js
  package-lock.json
  package.json
  src/index.js
Due: eslint --fix, prettier --write ., sort-package-json, jest --findRelatedTests

0.2.2
  package-lock.json
  package.json
Due: sort-package-json

Exports UserMediaState interface
  dist/index.d.ts
  src/index.ts
Due: eslint --fix, prettier --write .

1.1.2
  package-lock.json
  package.json
Due: sort-package-json

Updates code comments
  dist/index.d.ts
  dist/index.js
  src/index.ts
Due: eslint --fix, prettier --write .

1.1.3
  package-lock.json
  package.json
Due: sort-package-json

Updates code comments
  dist/index.js
  src/index.js
Due: eslint --fix, prettier --write ., jest --findRelatedTests

0.2.3
  package-lock.json
  package.json
Due: sort-package-json

Removes redundant state change
  dist/index.js
  src/index.js
Due: eslint --fix, prettier --write ., jest --findRelatedTests

0.2.4
  package-lock.json
  package.json
Due: sort-package-json

Removes redundant state change
  dist/index.js
  src/index.ts
Due: eslint --fix, prettier --write .

1.1.4
  package-lock.json
  package.json
Due: sort-package-json

Fixes localStream type
  dist/index.d.ts
  dist/index.js
  src/index.ts
Due: eslint --fix, prettier --write .

1.2.0
  package-lock.json
  package.json
Due: sort-package-json

Improves docstrings
  dist/index.d.ts
  dist/index.js
  src/index.ts
Due: eslint --fix, prettier --write .

1.2.1
  package-lock.json
  package.json
Due: sort-package-json

Improves docstrings
  dist/index.js
  src/index.js
Due: eslint --fix, prettier --write ., jest --findRelatedTests

0.2.5
  package-lock.json
  package.json
Due: sort-package-json

feat: add typescript declaration file
  .babelrc.js
  .babelrc.json
  .eslintrc.js
  dist/index.d.ts
  dist/index.js
  example/index.html
  example/index.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write ., sort-package-json

feat: combine multiple states in the useReducer hook
  .gitignore
  dist/index.js
  src/index.js
Due: eslint --fix, prettier --write ., jest --findRelatedTests
